@using OnlineShoppingServices.Models.DB;
@{
    ViewData["Title"] = "LoginSuccessFull";
}



<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row login_box">
        <div class="col-md-12 col-xs-12" align="center">

            <div class="outter"><img src="~/images/user1.jpg" style="width:20%; height:20vh" class="image-circle" /></div>
            <h1>Hi </h1>
            <h6>LoginSuccessFull..</h6>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <span class="glyphicon glyphicon-search"></span>
                <br />
                Now You can search
            </a>
            
                 
         
            </div>
        </div>
    </div>
