
@{
    ViewData["Title"] = "View";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row login_box">
        <div class="col-md-12 col-xs-12" align="center">

            
           <h2>Congratulations!</h2>
        <h5>Your Account is created now</h5>
            <a asp-area="outter" asp-controller="Admin" asp-action="Authenticate">
               
                <br />
                <h3 class="btn btn-primary">Please Login</h3>  
            </a></div>
</div>
</div>